/app/*

!/app/code/
!/app/design/
/app/etc/*
!/app/etc
!/app/etc/configuration/
!/app/etc/configuration/*
!/app/etc/config.php
/dev/*
/dev/tools/*
/dev/tools/grunt/*
/dev/tools/grunt/configs/*
!/dev/tools
!/dev/tools/grunt
!/dev/tools/grunt/configs
!/dev/tools/grunt/configs/babel.*
!/dev/tools/grunt/configs/local-themes.js
!/dev/tools/grunt/configs/postcss.*
!/docker/local
/.github
/.htaccess
/.htaccess.sample
/.magento.env.yaml.dist
/.php_cs.cache
/.php_cs.dist
/.travis.yml
/.travis.yml.sample
/.user.ini
/app/design/*/Magento
/auth.json.sample
/backup.tar
/bin/.htaccess
/bin/magento
/bin/migration/tmp/
/CHANGELOG.md
/COPYING.txt
/docker/*
/docker/local/.env
/generated/
/grunt-config.json.sample
/Gruntfile.js.sample
/index.php
/lib/
/LICENSE*
/nginx.conf.sample
/node_modules
/package.json.sample
/php.ini.sample
/phpserver/
/pub/
/README_EE.md
/SECURITY.md
/setup/
/sitemap.xml
/update/*
/var/
/vendor/
!/yarn.lock
/yarn-error.log
